body {
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    background-color: #D9D9D9;
    color: #24272b;
}

.ss {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.ss2 {
    background-color: #24272b;
    color: white;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 80px 120px 80px 120px;
    width: calc(1000px - 240px);
    margin-top: -20px;
}

.ss2 { 
    line-height: 140%;
}

.ss h1 {
    font-weight: 600;
    font-size: 5rem;
    padding: 0;
    margin: 100px 0 50px 0;
}

.ss-img {
    margin-top: 100px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .ss {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .ss2 {
        width: calc(100% - 40px);
        padding: 20px;
    }

    .ss-img {
        margin-top: 50px;
    }
   
  }