/* IMPORTANT */
.ad-p {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
    grid-auto-rows: 20px;
    grid-auto-columns: 20px;
    visibility: hidden;
}

@media (max-width: 1000px) {
    .ad-p {
        grid-auto-rows: unset;
        grid-template-columns: repeat(1, 100%);
    }
}
